html,
body {
	align-items: center;
	background-image: url(../img/background.jpg);
	display: flex;
	color: #1b1b1b;
	font-family: "Segoe UI", "Helvetica Neue", "Lucida Grande", "Roboto",
		"Ebrima", "Nirmala UI", "Gadugi", "Segoe Xbox Symbol", "Segoe UI Symbol",
		"Meiryo UI", "Khmer UI", "Tunga", "Lao UI", "Raavi", "Iskoola Pota",
		"Latha", "Leelawadee", "Microsoft YaHei UI", "Microsoft JhengHei UI",
		"Malgun Gothic", "Estrangelo Edessa", "Microsoft Himalaya",
		"Microsoft New Tai Lue", "Microsoft PhagsPa", "Microsoft Tai Le",
		"Microsoft Yi Baiti", "Mongolian Baiti", "MV Boli", "Myanmar Text",
		"Cambria Math";
	letter-spacing: normal;
	font-size: 15px;
	height: 100vh;
	justify-content: center;
	width: 100vw;
}

.box {
	background-color: #fff;
	box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 6px 0px;
	height: 24.3rem;
	width: 29.333rem;
	margin: 0 0 1.733rem 0;
}

.form-box {
	display: flex;
	flex-direction: column;
	margin: 2.567rem 2.933rem 3.6rem 2.933rem;
	position: relative;
	height: 76.5%;
  }
.outt-logo {
  width: 11.4rem;
  height: 2.4rem;
}

.microsoft-logo {
	width: 7.2rem;
	height: 1.6rem;
}

.arrow {
	border-radius: 50%;
	height: 1.6rem;
	width: 1.6rem;
	margin: 1.067rem 0 0 0;
}

.arrow-link {
	border-radius: 50%;
	width: 1.6rem;
}

.form-box h2 {
	font-weight: 600;
	margin: 0.8rem 0 0 0;
}

.password-input {
	border: none;
	border-bottom: 1px solid #000;
	margin: 1.133rem 0 0 0;
	outline: none;
	padding: 0.4rem 0 0.4rem 0;
}

.password-input:hover {
	border-bottom: 1px solid #0067b8;
}

.forgot-password {
	text-decoration: none;
	color: #0067b8;
	font-size: 13px;
	margin: 1.267rem 0 0 0;
}

.forgot-password:hover {
	text-decoration: underline;
}

.button {
	background-color: #0067b8;
	border: none;
	color: #fff;
	cursor: pointer;
	height: 32px;
	position: absolute;
	bottom: 0;
	right: 0;
	width: 122px;
}
